@model Shop.Models.Store.Product

@{
    ViewData["Title"] = "Товар";
}

@section css {
    <link rel="stylesheet" href="~/css/item.css">
}
@section scripts {
    <script src="~/js/footer.js" defer></script>
    <script src="~/js/header.js" defer></script>
    <script src="~/js/dropdown.js" defer></script>
    <script src="~/js/item.js" defer></script>
}

<partial name="_Header" />

<main class="main">
    <div class="page">
        <div class="container">
            <div class="page__row">
                <div class="page__link">
                    <a href="/">Главная</a>
                </div>
                <div class="page__arrow">
                    <svg class="svg_1" width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.88906 5L0 1.11094L1.11094 0L6.11094 5L1.11094 10L0 8.88906L3.88906 5Z" fill="white" />
                    </svg>
                </div>
                <div class="page__link">
                    <a href="/catalog">Каталог</a>
                </div>
                <div class="page__arrow">
                    <svg class="svg_1" width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.88906 5L0 1.11094L1.11094 0L6.11094 5L1.11094 10L0 8.88906L3.88906 5Z" fill="white" />
                    </svg>
                </div>
                <div class="page__link">
                    <a href="">Пальто</a>
                </div>
                <div class="page__arrow">
                    <svg class="svg_1" width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.88906 5L0 1.11094L1.11094 0L6.11094 5L1.11094 10L0 8.88906L3.88906 5Z" fill="white" />
                    </svg>
                </div>
                <div class="page__link">Кремовое пальто</div>
            </div>
        </div>
    </div>

    <div class="this">
        <div class="container">
            <div class="this__row">
                <div class="this__imgs">
                    <div class="this__side">
                        <div class="this__sideImg">
                            <img src="~/img/preview2.jpg" alt="">
                        </div>
                        <div class="this__sideImg">
                            <img src="~/img/preview3.jpg" alt="">
                        </div>
                        <div class="this__sideImg">
                            <img src="~/img/preview4.jpg" alt="">
                        </div>
                        <div class="this__sideImg">
                            <img src="~/img/preview5.jpg" alt="">
                        </div>
                        <div class="this__sideImg">
                            <img src="~/img/preview6.jpg" alt="">
                        </div>
                    </div>
                    <div class="this__mainImg">
                        <img src="~/img/product/@Model.ImgName" alt="">
                    </div>
                </div>
                <div class="this__body">
                    <div class="this__title">@Model.Name</div>
                    <div class="this__price">@Model.Price грн</div>
                    <div class="this__colors">
                        <div class="this__figures">
                            <div class="color color_1 color_big"></div>
                            <div class="color color_2 color_big"></div>
                            <div class="color color_3 color_big color_active"></div>
                        </div>
                        <div class="this__colorName">Цвет: @Model.Color</div>
                    </div>
                    <div class="this__size">
                        <select>
                            <option selected>Выберите размер</option>
                            <option>XXS</option>
                            <option>XS</option>
                            <option>S</option>
                            <option>M</option>
                            <option>L</option>
                        </select>
                    </div>
                    <div class="this__btns">
                        <div class="this__basket">
                            <a href="/home/basket">В КОРЗИНУ</a>
                        </div>
                        <div class="this__fav">
                            <a href="">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="#E0BEA2" />
                                </svg>
                                <span>В ИЗБРАННОЕ</span>
                            </a>
                        </div>
                    </div>
                    <div class="this__details">
                        <span>Подробности</span>
                        <div class="this__detail">
                            <div class="this__dropdown">
                                <span>Обмеры и описание</span>
                                <svg class="svg_1" width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.01855 3.88906L8.90762 -4.85606e-08L10.0186 1.11094L5.01855 6.11093L0.0185546 1.11094L1.12949 -3.88553e-07L5.01855 3.88906Z" fill="white" />
                                </svg>
                            </div>
                        </div>
                        <div class="this__detail">
                            <div class="this__dropdown">
                                <span>Состав и уход</span>
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 2.2219L1.11094 6.11096L1.32478e-08 5.00003L5 2.67625e-05L10 5.00003L8.88906 6.11096L5 2.2219Z" fill="#E0BEA2" />
                                </svg>
                            </div>
                            <div class="this__info">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full">
        <div class="container">
            <div class="full__title">Весь образ</div>
            <div class="full__items items">
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c1.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Белая куртка
                            <span class="items__tag">new</span>
                        </div>
                        <div class="items__price">2900 грн</div>
                        <div class="items__sizes">XXS XS S M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c2.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Синее пальто
                        </div>
                        <div class="items__price">3150 грн</div>
                        <div class="items__sizes">XS M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container">
            <div class="block__title">Дополните образ</div>
            <div class="block__items items">
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c1.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Белая куртка
                            <span class="items__tag">new</span>
                        </div>
                        <div class="items__price">2900 грн</div>
                        <div class="items__sizes">XXS XS S M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c2.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Синее пальто
                        </div>
                        <div class="items__price">3150 грн</div>
                        <div class="items__sizes">XS M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c3.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Бежевая шуба
                        </div>
                        <div class="items__price">4200 грн</div>
                        <div class="items__sizes">XS S L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c4.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Синяя парка
                            <span class="items__tag">new</span>
                        </div>
                        <div class="items__price">2900 грн</div>
                        <div class="items__sizes">XXS XS S M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container">
            <div class="block__title">Вам может понравиться</div>
            <div class="block__items items">
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c2.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Синее пальто
                        </div>
                        <div class="items__price">3150 грн</div>
                        <div class="items__sizes">XS M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c4.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Синяя парка
                            <span class="items__tag">new</span>
                        </div>
                        <div class="items__price">2900 грн</div>
                        <div class="items__sizes">XXS XS S M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c3.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Бежевая шуба
                        </div>
                        <div class="items__price">4200 грн</div>
                        <div class="items__sizes">XS S L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card">
                    <div class="items__img">
                        <img src="~/img/c1.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Белая куртка
                            <span class="items__tag">new</span>
                        </div>
                        <div class="items__price">2900 грн</div>
                        <div class="items__sizes">XXS XS S M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="container">
            <div class="block__title">Вы недавно смотрели</div>
            <div class="block__items block__items_small items">
                <a href="" class="items__card items__card_margin">
                    <div class="items__img">
                        <img src="~/img/c3.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Бежевая шуба
                        </div>
                        <div class="items__price">4200 грн</div>
                        <div class="items__sizes">XS S L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
                <a href="" class="items__card items__card_margin">
                    <div class="items__img">
                        <img src="~/img/c2.jpg" alt="">
                        <div class="items__like">
                            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.501 2.16119C15.4372 -0.475012 19.9746 -0.387513 22.8033 2.44618C25.6308 5.28113 25.7283 9.79605 23.0983 12.741L12.4985 23.3558L1.90122 12.741C-0.728729 9.79605 -0.62998 5.27363 2.19622 2.44618C5.02741 -0.383763 9.55608 -0.478762 12.501 2.16119ZM21.0334 4.2124C19.1584 2.33494 16.1335 2.25869 14.171 4.02115L12.5023 5.51863L10.8323 4.0224C8.86359 2.25744 5.8449 2.33494 3.96493 4.2149C2.10247 6.07737 2.00872 9.05856 3.72494 11.0285L12.4998 19.8171L21.2746 11.0298C22.9921 9.05856 22.8983 6.08112 21.0334 4.2124Z" fill="white" />
                            </svg>
                        </div>
                    </div>
                    <div class="items__info">
                        <div class="items__title">
                            Синее пальто
                        </div>
                        <div class="items__price">3150 грн</div>
                        <div class="items__sizes">XS M L</div>
                        <div class="items__colors">
                            <div class="color color_1"></div>
                            <div class="color color_2"></div>
                            <div class="color color_3"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</main>

<partial name="_Footer" />